input[type="checkbox"]{
    margin-left:7%;
}

input[type="text" i]{
    border: none;
    background: none;
    font-family: alien encounters;  
}

input::placeholder {
    color: #37a84d;
    background-color:rgb(36, 19, 13);
    margin-right: 50%;
    text-align:center;
}